@model TCCESTOQUE.ViewModel.ProdutoViewModel
@{
    ViewData["Title"] = "- Cadastrar produto";
    Layout = "~/Views/Shared/_Layout-Interno.cshtml";
}
<div id="moldura">
    <form class="container" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VendedorId" value="@ViewBag.usuarioId" />
        <h1>
            Adicionar produto
        </h1>
        <div class="form-group">
            <label asp-for="Nome" class="obrigatorio">Nome</label>
            <input  class="form-control" asp-for="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao">Descrição</label>
            <input  class="form-control" asp-for="Descricao"/>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label asp-for="UnidadeMedida" class="obrigatorio">Unidade de medida</label>
                <select class="form-control" asp-for="UnidadeMedida" asp-items="@ViewBag.UnidadeMedida"></select>
                <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Quantidade">Quantidade</label>
                <input class="form-control" asp-for="Quantidade" type="number" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Custo" class="obrigatorio">Custo</label>
            <input  class="form-control" asp-for="Custo" type="text"/>
            <span asp-validation-for="Custo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Valor" class="obrigatorio">Valor</label>
            <input  class="form-control" asp-for="Valor" type="text"/>
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FornecedorId" class="obrigatorio">Fornecedor</label>
            <select class="form-control" asp-for="FornecedorId" asp-items="@ViewBag.Fornecedores">
                <option value="00000000-0000-0000-0000-000000000000">Selecione</option>
            </select>
            <span asp-validation-for="FornecedorId" class="text-danger"></span>
        </div>
        <div class="row p-3">
            <a asp-action="Index" alt="Voltar" class="btn-mold btn-cinza mr-3 ml-0">
                Voltar
            </a>
            <input type="submit" value="Adicionar" class="btn-mold btn-roxo m-0"/>
        </div>
    </form>
</div>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }

<script>
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)?(?:,\d+)?$/.test(value);
    }
</script>
}
