<div id="primeira-linha">
    <div id="logo-container" class="linha">
        <div id="logo-home">
            <img class="radius-2rem" src="~/img/logo-box.png" />
        </div>
        <h1>E-ESTOCK</h1>
    </div>
    <div>
        <h2>Melhore suas vendas</h2>
    </div>
</div>

<div id="segunda-linha" class="linha">
    <div class="col-md-6">
        <h1 class="mb-3 text-uppercase">Sobre nós</h1>
        <p class="px-md-1 text-justify">
            Nós prezamos pelo desenvolvimento de novos e pequenos vendedores, pensando nisso,
            está aplicação web foi desenvolvida para te auxiliar no controle de seus produto e vendas, 
            para saber como usar <a class="font-weight-bolder text-white" asp-action="Manual">clique aqui</a>
        </p>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
        <img class="radius-2rem" src="~/img/Home/img2.png" />
    </div>
</div>