@model TCCESTOQUE.Models.VendaItensModel

@{
    ViewData["Title"] = "- Adicionar item";
    Layout = "~/Views/Shared/_Layout-Interno.cshtml";
}
<div class="container p-5" id="moldura">
    <form class="col-10" asp-action="ItemCarrinho">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VendedorId"  value="@ViewBag.usuarioId" />
        <input type="hidden" asp-for="CarrinhoId"  value="@ViewBag.CarrinhoId" />
        <h1>
            Adicionar produto ao carrinho
        </h1>
        <div class="form-group">
            <label asp-for="ProdutoId" >Produto</label>
            <select class="col-12" asp-for="ProdutoId"  asp-items="ViewBag.ProdutoId"></select>
        </div>
        <div class="form-group">
            <label asp-for="Quantidade" ></label>
            <input asp-for="Quantidade" class="form-control col-12"/>
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
        <div class="row p-3">
            <a class="btn-mold btn-cinza mr-3 ml-0" asp-controller="Carrinho" asp-action="Details" asp-route-id="@ViewBag.usuarioId">
                Voltar
            </a>
            <input type="submit" value="Adicionar" class="btn-mold btn-roxo m-0" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
